<mat-accordion>
    <mat-expansion-panel #mep="matExpansionPanel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>library_add</mat-icon>New
            </mat-panel-title>
            <mat-panel-description>
                Create Agents to operate Trackerforce Session
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="form-container" [formGroup]="agentForm">
            <section>
                <mat-divider class="col"></mat-divider>
                <mat-form-field>
                    <input matInput type="text" id="name" maxlength="50" placeholder="Name" formControlName="name"
                        autocomplete="off" required>
                    <mat-error>
                        Please provide a valid Name
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput id="email" type="email" maxlength="50" placeholder="E-mail" autocomplete="off"
                        formControlName="email" required>
                    <mat-error>
                        Please provide a valid E-mail
                    </mat-error>
                </mat-form-field>
            </section>
            <div>
                <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Create</button>
                <button type="button" (click)="mep.expanded = false;" mat-raised-button>Cancel</button>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </mat-expansion-panel>
</mat-accordion>