mat-icon {
  margin-right: .2rem;
}

mat-form-field {
  width: 100%;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mat-divider-horizontal {
  position: inherit !important;
}

.panel-checks-title {
  margin-left: .1rem;
}

.panel-description {
  margin-left: .1rem;
  margin-bottom: 2rem;
}

.panel-checks {
  display: grid;
}

.col ul {
  list-style: none;
  display: contents;

  li {
    margin-bottom: 1rem;
  }
}

.hide {
  display: none;
}