<div class="wrapper">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Procedure Name</mat-label>
            <input type="text" placeholder="Select..." matInput [formControl]="procedureForm"
                [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                @for (procedure of filteredOptions | async; track procedure) {
                <mat-option [value]="procedure">
                    {{procedure.name}}
                </mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
        <button type="button" (click)="onSubmit()" mat-raised-button color="primary">Select</button>
    </form>
</div>
@if (error) {
<div class="alert alert-danger mt-3 mb-0">{{error}}</div>
}