<mat-accordion>
    <mat-expansion-panel #mep="matExpansionPanel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>library_add</mat-icon>New
            </mat-panel-title>
            <mat-panel-description>
                <span class="hide">Create Templates to start new Session Cases</span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        
        <app-template-detail
            (templateChanged)="onTemplateChange($event)"
            [template]="template">
        </app-template-detail>
        <div>
            <button type="submit" (click)="onSubmit(); mep.expanded = !error ? false : true;" mat-raised-button
                color="primary">Create</button>
            <button type="button" (click)="mep.expanded = false; error = ''; onCancel();" mat-raised-button>Cancel</button>
        </div>
    </mat-expansion-panel>
        </mat-accordion>
@if (error) {
<div class="alert alert-danger mt-3 mb-0">{{error}}</div>
}