<div class="container">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sticky">
                <div class="sidebar-header">
                    <a #home id="home" routerLink="/{{tenant}}" (click)="toggleMenu(home)">
                        <img src="assets\trackerforce_1280_white_trans.png" style="width: 200px;" />
                    </a>
                </div>
                <mat-divider></mat-divider>
                <ul class="components">
                    <li><a #agents id="agents" routerLink="/{{tenant}}/agents" (click)="toggleMenu(agents)"><i class="fas fa-users"></i>Agents</a></li>
                    <li><a #tasks id="tasks" routerLink="/{{tenant}}/tasks" (click)="toggleMenu(tasks)"><i class="fas fa-clipboard-check"></i>Tasks</a></li>
                    <li><a #procedures id="procedures" routerLink="/{{tenant}}/procedures" (click)="toggleMenu(procedures)"><i class="fas fa-tasks"></i>Procedures</a></li>
                    <li><a #templates id="templates" routerLink="/{{tenant}}/templates" (click)="toggleMenu(templates)"><i class="fas fa-book-open"></i>Templates</a></li>
                    <li><a #globals id="globals" routerLink="/{{tenant}}/globals" (click)="toggleMenu(globals)"><i class="fas fa-globe"></i>Globals</a></li>
                </ul>
            </div>
        </nav>

        <div id="content">
            <div id="sidebarCollapse" class="container-fluid sticky">
                <img class="logo" src="assets\trackerforce_1280_white_trans.png" />
                <button type="button" id="sidebarCollapseBtn" class="btn btn-info" (click)="toggleMenu()">
                    <i class="fas fa-align-left"></i>
                </button>
            </div>
            <div id="component" class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>