<div class="element-description">
    <div *ngIf="task?.helper" class="helper-content">
        <mat-label class="title"><mat-icon>help</mat-icon>{{task?.helper?.content}}</mat-label>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Created At</mat-label>
        <input matInput [value]="task?.createdAt | date:'short'" [readonly]=true>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Updated At</mat-label>
        <input matInput [value]="task?.updatedAt | date:'short'" [readonly]=true>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input matInput [value]="task?.type" [readonly]=true>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Learn</mat-label>
        <input matInput [value]="task?.learn" [readonly]=true>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Hidden</mat-label>
        <input matInput [value]="task?.hidden" [readonly]=true>
    </mat-form-field>
    <mat-form-field *ngIf="task?.options?.length" appearance="outline">
        <mat-label>Options</mat-label>
        <mat-select>
            <mat-option *ngFor="let option of task?.options">
                {{option.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>