mat-lebel {
  margin-left: 1rem;
}

mat-icon {
  vertical-align: middle;
  margin-right: 1rem;
  opacity: .5;
}

.helper-content {
  margin-bottom: 1rem;

  & > .title {
    font-weight: lighter;
  }
}

.element-description {
  margin-top: 1rem;
  
  mat-form-field {
    margin-left: 1rem;
  }
}