<mat-card>
    <mat-card-title-group>
        <mat-card-title>
            <mat-icon>label_important</mat-icon>
            My Cases
        </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <mat-spinner *ngIf="loading" [diameter]=20></mat-spinner>
        <br />
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="custom_view">
                <th mat-header-cell *matHeaderCellDef></th>
                <td class="actions-col" mat-cell *matCellDef="let element">
                    <a routerLink="{{getCaseLink(element)}}" matTooltip="Open {{element.protocol}}"><i class="fas fa-caret-square-right"></i></a>
                    <a (click)="$event.stopPropagation(); onStopWatching(element);" matTooltip="Stop following {{element.protocol}}"><i class="fas fa-low-vision"></i></a>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="{{column}}" *ngFor="let column of getColumns()">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <ng-container matColumnDef="custom_status">
                <th class="hide" mat-header-cell *matHeaderCellDef>status</th>
                <td class="hide" mat-cell *matCellDef="let element">
                    <mat-label>{{getStatus(element)}}</mat-label>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="element-description">
                            <mat-form-field appearance="outline">
                                <mat-label>Created At</mat-label>
                                <input matInput [value]="element.createdAt | date:'short'" [readonly]=true>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Protocol</mat-label>
                                <input matInput [value]="element.protocol" [readonly]=true>
                            </mat-form-field>
                            <mat-form-field class="display-status field-description" appearance="outline">
                                <mat-label>Status</mat-label>
                                <input matInput [value]="getStatus(element)" [readonly]=true>
                            </mat-form-field>
                            <mat-form-field class="field-description" appearance="outline">
                                <mat-label>Description</mat-label>
                                <input matInput [value]="element.description" [readonly]=true>
                            </mat-form-field>
                        </div>
                    </div>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
        
        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
    </mat-card-content>
</mat-card>