mat-spinner {
  position: absolute;
  right: 30px;
  top: 20px;
}

mat-icon {
  vertical-align: middle;
  margin-right: .2rem;
}

a:hover {
  cursor: pointer;
}

svg {
  margin-left: 1rem;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

  .field-description {
    display: block;
  }
}

.element-detail.expanded {
  max-height: 500px;
  opacity: 1;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  width: 100%;
  margin-top: 1rem;
  display: inline-grid;
  
  mat-form-field {
    margin-left: 1rem;
  }
}

.element-description-attribution {
  opacity: 0.5;
}

.actions-col {
  white-space: nowrap;
  padding-left: 0px;
  padding-right: 1rem;
}

.display-status {
  display: none !important;
}

@media only screen and (max-width: 450px) {
  .hide {
    display: none;
  }

  .display-status {
    display: block !important;
  }
}