<div class="wrapper">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Global Description</mat-label>
            <input type="text" placeholder="Select..." aria-label="Number" matInput [formControl]="globalForm"
                [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                @for (global of filteredOptions | async; track global) {
                <mat-option [value]="global">
                    {{global.description}}
                </mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
            <button type="button" (click)="onSubmit()" mat-raised-button color="primary">Select</button>
    </form>
</div>
@if (error) {
<div class="alert alert-danger mt-3 mb-0">{{error}}</div>
}