<form [formGroup]="procedureForm">
    <div class="element-description">
        <mat-form-field appearance="outline">
            <mat-label>Created At</mat-label>
            <input matInput [value]="procedure?.createdAt | date:'short'" [readonly]=true>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Updated At</mat-label>
            <input matInput [value]="procedure?.updatedAt | date:'short'" [readonly]=true>
        </mat-form-field>
        <mat-form-field class="element-editable" [appearance]="editable ? 'fill': 'outline'">
            <mat-label>Name</mat-label>
            <input matInput [value]="procedure?.name" formControlName="name" autocomplete="off"
                [readonly]="!editable" required>
            <mat-error>
                Please provide a valid Name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="element-editable" [appearance]="editable ? 'fill': 'outline'">
            <mat-label>Description</mat-label>
            <input matInput [value]="procedure?.description" formControlName="description" autocomplete="off"
                [readonly]="!editable" required>
            <mat-error>
                Please provide a valid Description
            </mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="editable" class="element-control">
        <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Update</button>
        <button type="button" mat-raised-button [disabled]=true>Delete</button>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
</form>
<div *ngIf="procedure?.tasks?.length">
    <mat-label><h2>Tasks</h2></mat-label>
    <app-task-list *ngIf="procedure"
        [procedureChild]="true"
        [procedureTasks]="procedureTasks">
    </app-task-list>
</div>