<form class="form-container" [formGroup]="formGroup">
    <mat-divider class="col"></mat-divider>
    <div class="row panel-checks-title">
        <mat-icon>help</mat-icon>
        <h3><strong>Helper</strong></h3>
    </div>
    <div class="row panel-description">
        <mat-label>
            Describe the content that will be displayed for additional information to this element.
        </mat-label>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <input matInput type="text" id="content" maxlength="200" placeholder="Content"
            formControlName="content" autocomplete="off">
    </mat-form-field>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Render Type</mat-label>
                <mat-select id="renderType" formControlName="renderType">
                    <mat-option *ngFor="let type of displayRenderTypes" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-label>Render Type defines how the Session will render the helper content</mat-label>
        </div>
    </div>
</form>