<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="assets\tf_icon_trans.png" width="50" alt="Trackerforce Logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/management/{{tenant}}" *ngIf="currentToken">Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/session/{{tenant}}" *ngIf="currentToken">Session</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/login" *ngIf="!currentToken">Sign in</a>
      </li>
    </ul>
    <a class="nav-item nav-link menu-border-left" routerLink="/signup" *ngIf="!currentToken">Sign Up</a>
    <a class="nav-item nav-link menu-border-left" routerLink="/" (click)="logout()" *ngIf="currentToken">Sign Out</a>
  </div>
</nav>

<div>
  <router-outlet> </router-outlet>
</div>