:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1;
}

.bg-dark {
  background-color: #24292E !important;
}

.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
}

.divider-style {
  width: 40px;
  transform: rotate(90deg);
  color:white;
  background:lightgrey;
}

.menu-border-left {
  border: 1px solid;
}

a,
a:visited,
a:hover {
  color: #a0a2a5;
  text-decoration: none;
}

a:hover {
  color: white;
  transition: all 0.2s ease-in-out;
}