button {
  float: inline-end;
  margin-right: .5rem;
}

mat-icon {
  margin-right: .2rem;
}

mat-form-field {
  width: 100%;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mat-expansion-panel-header-description {
  text-align: end;
  display: initial;
}