@if (loading) {
<mat-spinner [diameter]=30></mat-spinner>
}
<h1><i class="fas fa-clipboard-check"></i>Task</h1>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-header>
        <mat-card-title>Edit</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (task$ | async; as task) {
        <app-task-detail
            (taskChanged)="onTaskChange($event)"
            [task]="task"
            [showOptions]="hasOptions(task)">
        </app-task-detail>
        }
        <div class="form-container">
            <div>
                <button type="submit" (click)="onSubmit()" mat-raised-button color="primary" [disabled]="true">Update</button>
                <button type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
            </div>
        </div>
        @if (error) {
        <div class="alert alert-danger mt-3 mb-0">{{error}}</div>
        }
    </mat-card-content>
</mat-card>