button {
  float: inline-end;
  margin-right: .5rem;
}

mat-icon {
  margin-right: .2rem;
}

mat-form-field {
  width: 100%;
}

.mat-expansion-panel-header-description {
  text-align: end;
  display: initial;
}

.show {
  display: none;
}

@media only screen and (max-width: 450px) {
  .hide {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .show {
    display: block;
  }
}
