<mat-spinner *ngIf="loading" [diameter]=30></mat-spinner>
<h1><i class="fas fa-users"></i>Agent: {{ agent?.name }}</h1>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-header>
        <mat-card-title>Edit</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form-container" [formGroup]="agentForm">
            <mat-form-field>
                <input matInput type="text" id="name" maxlength="50" placeholder="Name" formControlName="name"
                    autocomplete="off" required>
                <mat-error>
                    Please provide a valid Name
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput id="email" type="email" maxlength="50" placeholder="E-mail" autocomplete="off"
                    formControlName="email" required>
                <mat-error>
                    Please provide a valid E-mail
                </mat-error>
            </mat-form-field>
            <div>
                <button type="submit" (click)="onSubmit('update')" mat-raised-button color="primary" [disabled]=true>Update</button>
                <button type="button" (click)="onSubmit('cancel')" mat-raised-button>Cancel</button>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </mat-card-content>
</mat-card>