<div class="home-content">
    <section class="home-section header">
        <div class="home-container">
            <div class="home-text">
                <h1>
                    Thinking smart<br>
                    Reaching greater results
                </h1>
                <p>Improve business processes outcomes with an assisted engine based on context-driven learning method.</p>
                <p>This method is defined by process components that can be reused and trained in different contexts.</p>
            </div>
            <div class="vertical"></div>
            <div class="spacer"></div>
            <div class="home-image">
                <img src="assets\trackerforce_1280_white_trans.png" style="width: 100%;" alt="Trackerforce Logo" />
            </div>
        </div>
    </section>
</div>
<footer id="footer" class="footer-style">
    <div class="footer-right">
        <a class="link" href="https://github.com/trackerforce" target="_black">
            <img src="assets\github.svg" style="width: 30px; filter: invert(1);" alt="Trackerforce GitHub" />
        </a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a class="link" title="Trackerfoce support" rel="noopener noreferrer" target="_blank"
                href="mailto:trackerforce.project@gmail.com">Contact</a>
        </p>
        <p>Created by Roger Floriano - 2021</p>
    </div>
</footer>