<mat-accordion>
    <mat-expansion-panel #mep="matExpansionPanel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>library_add</mat-icon>New
            </mat-panel-title>
            <mat-panel-description>
                <span class="hide">Create a new Task to incorporate to Procedures</span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        
        <app-task-detail 
            (taskChanged)="onTaskChange($event)"
            [task]="task">
        </app-task-detail>
        <div>
            <button type="submit" (click)="onSubmit(); mep.expanded = !error ? false : true;" mat-raised-button color="primary">Create</button>
            <button type="button" (click)="mep.expanded = false; error = ''; onCancel();" mat-raised-button>Cancel</button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>