.mat-expansion-panel-header-description {
  text-align: end;
  display: initial;
}

button {
  float: inline-end;
  margin-right: .5rem;
}

@media only screen and (max-width: 450px) {
  .hide {
    display: none;
  }
}