<form class="form-container" [formGroup]="taskForm">
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput type="text" id="description" maxlength="200" placeholder="Description"
                formControlName="description" autocomplete="off" required>
            <mat-error>
                Please provide a valid Description
            </mat-error>
        </mat-form-field>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type" (selectionChange)="onTypeChange()" required>
                        <mat-option *ngFor="let type of displayTaskTypes" [value]="type.value">
                            {{type.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Please provide a valid Type
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>
                    Type defines which data type is being inputed.<br />
                    Some types cannot be used by the learning engine.
                </mat-label>
            </div>
        </div>
        <div *ngIf="showOptions" class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Options</mat-label>
                    <input matInput type="text" id="options" maxlength="500" placeholder="Options"
                        formControlName="options" autocomplete="off" required>
                    <mat-error>
                        Please provide a valid Options
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>
                    Include all options separated by comma.<br />
                    e.g. Option 1, Option 2, Option 3
                </mat-label>
            </div>
        </div>
    </section>
    <section>
        <mat-divider class="col"></mat-divider>
        <div class="row panel-checks-title">
            <mat-icon>settings</mat-icon>
            <h3><strong>Task Settings</strong></h3>
        </div>
        <div class="row panel-description">
            <mat-label>
                Configure how your task must behave internally and who can visualize it in the Session.
            </mat-label>
        </div>
        <div class="row">
            <div class="col panel-checks">
                <mat-checkbox formControlName="learn">Learn</mat-checkbox>
                <mat-checkbox formControlName="hidden">Hidden</mat-checkbox>
            </div>
            <div class="col">
                <ul>
                    <li><strong>Learn</strong>: Task will be trained by the Machine Learning Engine</li>
                    <li><strong>Hidden</strong>: indicated that this task is only visible to Agents</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
    <app-helper [helper]="task.helper!" (selectedHelper)="onHelperChanged($event)"></app-helper>
    </section>
</form>